html,
body {
	height: 100%;
}

body {
	@extend %dmsans-400;
	color: $default-color;
	font-size: 22px;
	line-height: 34px;
	font-style: normal;
}


.container {
	max-width: 1200px;
	padding: 0 15px;
	margin: 0 auto;
}

.title {
	margin-bottom: 50px;
	font-weight: 700;
	font-size: 26px;
	line-height: 34px;
}

.bg-dark {
	background-color: $blue-dark;
}

.bg-main {
	background-color: $default-bg;
}

.link--decoration {
	position: relative;
	padding-bottom: 3px;

	&::before {
		content: "";
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		height: 2px;
		background-color: #ffffff;
	}
}

.setup-app {
	padding-bottom: 100px;
}

.play__img {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	display: block;
	object-fit: cover;
}

.policy {
	a {
		font-size: 14px;
		text-decoration: underline;
	}
}

@media (max-width: 960px) {
	.setup-app {
		padding-top: 60px;
	}
}

@media (max-width: 750px) {
	.setup-app {
		padding-top: 0;
	}
}

@media (max-width: 525px) {
	.title {
		margin-bottom: 30px;
	}

	.setup-app {
		padding-bottom: 40px;

	}
}

@media (max-width: 420px) {
	body {
		font-size: 18px;
		line-height: 30px;
	}

	.title {
		font-size: 22px;
	}

	/* 	.main {
		padding-top: 106px;
	} */
}