$default-color: #ffffff;
$default-bg: #004fb6;
$blue-dark: #023562;

%dmsans-400 {
	font-family: 'DM Sans', sans-serif;
	font-weight: 400;
}

%dmsans-500 {
	font-family: 'DM Sans', sans-serif;
	font-weight: 500;
}

%dmsans-700 {
	font-family: 'DM Sans', sans-serif;
	font-weight: 700;
}