<section class="about bg-main">
	<div class="container">
		<h3 class="title about__title">СМИ о нас</h3>
		<div class="about__inner">
			<div class="about__video">
				<img class="about__img" src="images/bg/tvr-video.png" alt="">
				<a class="about__video-play" href="https://youtube.com/playlist?list=PLmRCy-iBVKuOj-fXYy1tAU64JNVYIaXRg"
					target="_blank">
					<img class="play__img" src="images/icon/play.png" alt="Значок для воспроизведения">
				</a>
			</div>
		</div>
	</div>
</section>