<section class="channels-radio channels bg-main">
	<div class="container">
		<h3 class="title channels-radio__title channels__title lng-channelsradio__title">Список радиостанций</h3>
		<ul class="channels-radio__list channels__list">
			<li class="channels-radio__item channels__item">
				<p class="channels__text lng-bolgar"><span>Болгар радиосы - </span>
					круглосуточная двуязычная радиостанция. Вещание ведется на татарском и русском языке. Передачи, авторские
					программы, тематические рубрики, музыкальная политика «золотых хитов» татарской эстрады сделало его популярным
					среди слушателей всей республики.
				</p>
			</li>
			<li class="channels-radio__item channels__item">
				<p class="channels__text lng-tartip"><span>Тартип FM - </span>
					радиостанция татарской народной и классической музыки. В эфире можно услышать, как ретро-песни и классические
					произведения, так и современную качественную музыку. Культура, искусство, история, прошлое, настоящее и
					будущее
					народа республики Татарстан – являются основными темами эфира радиостанции!
				</p>
			</li>
			<li class="channels-radio__item channels__item">
				<p class="channels__text lng-tartip"><span>Кунел - </span>
					вещание ведется на татарском языке. Помимо различных разговорных и информационных программ в эфире станции
					звучит современные татарские песни, любимые жителями республики.
				</p>
			</li>
			<li class="channels-radio__item channels__item">
				<p class="channels__text lng-tartip"><span>Китап - </span>
					культурно-просветительская радиостанция Татарстана с вещанием на татарском языке. На радио транслируются
					произведения известных татарских и некоторых башкирских писателей и поэтов. Многие трансляции создаются на
					основе аудиокниг.
				</p>
			</li>
			<li class="channels-radio__item channels__item">
				<p class="channels__text lng-tartip"><span>Искатель - </span>
					радио для тех, кто открывает для себя новое, ищет свой путь, покоряет новые рубежи и горизонты. В эфире играют
					только хиты, проверенные временем, от The Rolling Stones до Аквариума.
				</p>
			</li>
		</ul>
	</div>
</section>