<section class="channels-tv channels bg-main">
	<div class="container">
		<h3 class="title channels-tv__title channels__title lng-channelstv__title">Список телеканалов</h3>
		<ul class="channels-tv__list channels__list">
			<li class="channels-tv__item channels__item">
				<p class="channels__text lng-newcentury__text"><span class="lng-newcentury__title">Татарстан Новый век - </span>
					телеканал о жизни республики, который вещает на двух языках - татарском и русском. Новости,
					общественно-политические программы, телесериалы, ток-шоу, прямые трансляции спортивных матчей, зрелищные
					мероприятия на родном для Татарстана языке.
				</p>
			</li>
			<li class="channels-tv__item channels__item">
				<p class="channels__text lng-efir"><span>Эфир - </span>
					один из самых популярных телеканалов республики. Ежедневно в 19:00 выходит рейтинговая трилогия программ
					«Город», «Перехват» и «Тема». А также передача «Новое утро» с 5:00 до 8:30, познавательно-развлекательная
					программа «Добрый вечер, Казань!» в 18:00 и 18:30 по будням программа «Советы дня» - где собраны самые
					полезные
					лайфхаки для зрителей. Собственные проекты «FAM TV» и «Обыкновенные рецепты здоровья» выходят по выходным в
					20:00.
				</p>
			</li>
			<li class="channels-tv__item channels__item">
				<p class="channels__text lng-tat24"><span>Татарстан-24 - </span>
					круглосуточный информационный телеканал республики. Новости каждый час! Аналитические, экономические,
					социальные
					и политические вопросы ежедневно рассматриваются в программах «Актуальный разговор», «Главные новости
					Татарстана», «Интервью без галстука». В проекте «Достояние республики» - создает положительный образ
					Татарстана
					через достижения в различных сферах. Проект «По просторам Татарстана» показывает всю красоту природы и
					индивидуальности республики.
				</p>
			</li>
			<li class="channels-tv__item channels__item">
				<p class="channels__text lng-maidan"><span>Майдан -</span>
					музыкальный телеканал республики. Здесь собрана коллекция популярных песен музыкальных исполнителей
					республики Татарстан. Хит-парады, концерты, новости звёзд татарской индустрии и анонсы предстоящих
					музыкально-развлекательных мероприятий.
				</p>
			</li>
			<li class="channels-tv__item channels__item">
				<p class="channels__text lng-shayan"><span>Шаян ТВ – </span>
					первый и единственный детский телеканал на татарском языке с круглосуточным вещанием в России. Познавательные,
					образовательные и развивающие программы, игровые шоу и викторины собственного производства. На татарский язык
					переведены лучшие документальные фильмы, сериалы и мультипликационные фильмы для детей.
				</p>
			</li>
		</ul>
	</div>
</section>