<footer class="footer bg-dark">
	<div class="container">
		<div class="footer__inner">
			<!-- <p class="footer__text lng-footer__text">Контакты оператора связи и службы поддержки: ПАО "Радиотелеком"</p> -->
			<div class="footer__contacts">
				<div class="footer__contacts-phone">
					<p class="footer__contacts-text lng-footer__phone">Телефон:</p>
					<a class="footer__contacts-link" href="tel:88435193009">8(843) 519-30-09</a>
				</div>
				<div class="footer__contacts-email">
					<p class="footer__contacts-text lng-footer__email">Электронная почта:</p>
					<a class="footer__contacts-link" href="mailto:telecentre-kazan@yandex.ru">info@telecentre-kazan.ru</a>
				</div>
			</div>
			<div class="policy">
				<a href="files/agreement_on_the_processing_of_personal_data.pdf">Политика конфиденциальности</a>
			</div>
		</div>
	</div>
</footer>