<div class="language">
	<ul class="language__list">
		<li class="language__item">
			<a class="language__link" href="#" data-lng="ru">RU</a>
		</li>
		<li class="language__item">
			<a class="language__link" href="#" data-lng="en">EN</a>
		</li>
		<li class="language__item">
			<a class="language__link" href="#" data-lng="tat">TAT</a>
		</li>
	</ul>
</div>