<section class="promo bg-main">
	<div class="container">
		<div class="promo__inner">
			<div class="promo__images">
				<img class="promo__img" src="images/content/smartphone-1.png" alt="Картинка смартфона">
				<img class="promo__img" src="images/content/smartphone-2.png" alt="Картинка смартфона">
			</div>
			<div class="promo__content">
				<h1 class="promo__title lng-main__title">
					TatTVR - смотрит вся Республика, смотрит весь мир!
				</h1>
				<h2 class="promo__subtitle lng-main__subtitle">TatTVR - это самые популярные телеканалы и радиостанции
					Республики
					Татарстан на Smart TV и в мобильном приложении Android и IOS
				</h2>
				<div class="promo__links">
					<a class="promo__link apple"
						href="https://apps.apple.com/ru/app/%D1%82%D0%B5%D0%BB%D0%B5%D0%B2%D0%B8%D0%B4%D0%B5%D0%BD%D0%B8%D0%B5-%D0%B8-%D1%80%D0%B0%D0%B4%D0%B8%D0%BE-%D1%82%D0%B0%D1%82%D0%B0%D1%80%D1%81%D1%82%D0%B0%D0%BD%D0%B0/id1606010776"
						target="_blank">Apple Store</a>
					<a class="promo__link google" href="https://play.google.com/store/apps/details?id=ru.nat.tattvr"
						target="_blank">Google
						Play</a>
				</div>
			</div>
		</div>
	</div>
</section>