<section class="setup-mobile setup-app bg-main">
	<div class="container">
		<div class="setup-app__inner">
			<h3 class="title lng-setupmobile__link">Инструкция по установке
				приложения на смартфоны</h3>
			<div class="setup-mobile__players">
				<div class="setup-mobile__items">
					<div class="setup-mobile__players-item">
						<p class="setup-mobile__player-title">Apple Store </p>
						<div class="setup-mobile__player">
							<a class="setup-mobile__play play-video" href="https://www.youtube.com/watch?v=_vIpL2jq-E8">
								<img class="setup-mobile__img" src="images/content/iphone.png" alt="Картинка Iphone">
								<img class="play__img" src="images/icon/play.png" alt="Значок для воспроизведения">
							</a>
						</div>
						<div class="setup-mobile__alternative alternative-resources">
							<ul class="alternative-resources__list">
								<li class="alternative-resources__item">
									<a class="alternative-resources__link play-video"
										href="https://www.youtube.com/watch?v=_vIpL2jq-E8">Youtube</a>
								</li>
								<li class="alternative-resources__item">
									<a class="alternative-resources__link play-video"
										href="https://vk.com/video_ext.php?oid=-70475602&id=456240659&hash=6be53455d947c868&hd=2">ВКонтакте</a>
								</li>
								<li class="alternative-resources__item">
									<a class="alternative-resources__link play-video"
										href="https://rutube.ru/pl/?pl_id&pl_type&pl_video=8e937fde44dfc968a9040329cf4df093">Rutube</a>
								</li>
							</ul>
						</div>
					</div>
					<div class="setup-mobile__players-item">
						<p class="setup-mobile__player-title">Google Play</p>
						<div class="setup-mobile__player">
							<a class="setup-mobile__play play-video" href="https://www.youtube.com/watch?v=t7G002JJNgA">
								<img class="setup-mobile__img" src="images/content/samsung1.png" alt="Картинка Samsung">
								<img class="play__img" src="images/icon/play.png" alt="Значок для воспроизведения">
							</a>
						</div>
						<div class="setup-mobile__alternative alternative-resources">
							<ul class="alternative-resources__list">
								<li class="alternative-resources__item">
									<a class="alternative-resources__link play-video"
										href="https://www.youtube.com/watch?v=t7G002JJNgA">Youtube</a>
								</li>
								<li class="alternative-resources__item">
									<a class="alternative-resources__link play-video"
										href="https://vk.com/video_ext.php?oid=-70475602&id=456240656&hash=d8cdb93b9ebcfc7a&hd=2">ВКонтакте</a>
								</li>
								<li class="alternative-resources__item">
									<a class="alternative-resources__link play-video"
										href="https://rutube.ru/pl/?pl_id&pl_type&pl_video=7211825534fcf012c2beaccc8bf375ea">Rutube</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>