<section class="setup-tv setup-app bg-main">
	<div class="container">
		<div class="setup-app__inner">
			<h3 class="title lng-setuptv__link">Видеоинструкция по установке на Smart TV</h3>
			<div class="setup-tv__items">
				<div class="setup-tv__player">
					<h4 class="setup-tv__player-title">Телевизоры LG</h4>
					<div class="setup-tv__img">
						<a class="setup-tv__player-link play-video" href="https://www.youtube.com/watch?v=ofBG5Z7cIg0">
							<img src="images/content/tv-lg.png" alt="image tv">
						</a>
					</div>
					<ul class="setup-tv__list">
						<li class="setup-tv__list-item">
							<a class="setup-tv__link alternative-resources__link" href="https://youtu.be/ofBG5Z7cIg0"
								target="_blank">Youtube</a>
						</li>
						<li class="setup-tv__list-item">
							<a class="setup-tv__link alternative-resources__link"
								href="https://rutube.ru/video/private/9b8dd94e63a4e1bd1f6f841ff43f24c6/?p=K-geXeQWDR0u3kXZseiJ_g"
								target="_blank">Rutube</a>
						</li>
						<li class="setup-tv__list-item">
							<a class="setup-tv__link alternative-resources__link"
								href="https://vk.com/video/@efir_kzn?z=video-70475602_456240894%2Fclub70475602%2Fpl_-70475602_-2"
								target="_blank">ВКонтакте</a>
						</li>
					</ul>
					<p class="important">Установка приложения возможна на телевизорах LG c операционной системой Web, начиная с
						версии 4.0</p>
				</div>
				<div class="setup-tv__player">
					<h4 class="setup-tv__player-title">Телевизоры Samsung</h4>
					<div class="setup-tv__img">
						<a class="setup-tv__player-link play-video" href="https://www.youtube.com/watch?v=M_LdL3pDorw">
							<img src="images/content/tv-samsung.png" alt="image tv">
						</a>
					</div>
					<ul class="setup-tv__list">
						<li class="setup-tv__list-item">
							<a class="setup-tv__link alternative-resources__link" href="https://youtu.be/M_LdL3pDorw"
								target="_blank">Youtube</a>
						</li>
						<li class="setup-tv__list-item">
							<a class="setup-tv__link alternative-resources__link"
								href="https://rutube.ru/video/private/db06056dd3aba2eaf05e7bc5c4f7bf08/?p=9CV8wG0LJoy9Kf7cdA6aeg"
								target="_blank">Rutube</a>
						</li>
						<li class="setup-tv__list-item">
							<a class="setup-tv__link alternative-resources__link"
								href="https://vk.com/video/@efir_kzn?z=video-70475602_456240895%2Fclub70475602%2Fpl_-70475602_-2"
								target="_blank">ВКонтакте</a>
						</li>
					</ul>
					<p class="important">Установка приложения возможна на телевизорах Samsung c операционной системой Tizen,
						начиная с 2018 года</p>
				</div>
				<div class="setup-tv__player">
					<h4 class="setup-tv__player-title">ТВ-приставки и телевизоры на Android TV</h4>
					<div class="setup-tv__img">
						<a class="setup-tv__player-link play-video" href="https://www.youtube.com/watch?v=P1sNdoW-ANc">
							<img src="images/content/tv-android.png" alt="image tv">
						</a>
					</div>
					<ul class="setup-tv__list">
						<li class="setup-tv__list-item">
							<a class="setup-tv__link alternative-resources__link" href="https://youtu.be/P1sNdoW-ANc"
								target="_blank">Youtube</a>
						</li>
						<li class="setup-tv__list-item">
							<a class="setup-tv__link alternative-resources__link"
								href="https://rutube.ru/video/8a6da1b3a26afa53d2536ee3f5ac4d93/" target="_blank">Rutube</a>
						</li>
						<li class="setup-tv__list-item">
							<a class="setup-tv__link alternative-resources__link"
								href="https://vk.com/video/@efir_kzn?z=video-70475602_456240896%2Fclub70475602%2Fpl_-70475602_-2"
								target="_blank">ВКонтакте</a>
						</li>
					</ul>
					<p class="important">Установка приложения возможна на устройствах с операционной системой Android TV начиная с
						версии Android 5.0
					</p>
				</div>
			</div>
		</div>
	</div>
</section>