	<div class="title-box">
		<h2 class="title-box__subtitle lng-main__subtitle">ТВР - это самые популярные телеканалы и радиостанции Республики
			Татарстан на Smart TV
			и в
			мобильном приложении Android и IOS</h2>
		<h1 class="title-box__title lng-main__title">ТВР - смотрит вся Республика, смотрит весь мир!</h1>
	</div>