<section class="youtube">
	<div class="container">
		<div class="youtube__items">
			<iframe class="youtube__iframe" src="https://www.youtube.com/embed/US_CkwDb-w0" title="YouTube video player"
				frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
				allowfullscreen></iframe>
		</div>
	</div>
</section>