.about {
	padding-bottom: 100px;

	&__video {
		max-width: 720px;
		width: 100%;
		position: relative;
		/*height: 410px;
		background-image: url("../../images/bg/tvr-video.png");
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover; */
		/* box-shadow: 10px 10px 10px 0px rgba(34, 60, 80, 0.7); */
		position: relative;

		&-play {
			position: absolute;
			width: 100%;
			height: 85%;
			top: 0;
			left: 0;
		}

	}
}


@media (max-width: 525px) {
	.about {
		padding-bottom: 40px;
	}
}

@media (max-width: 420px) {
	.about {
		&__video {
			&-img {
				width: 62px;
			}
		}
	}
}