.alternative-resources {

	&__list {
		margin-top: 40px;
		display: flex;
	}

	&__item {
		position: relative;

		&:not(:last-child) {
			margin-right: 16px;
		}
	}

	&__link {
		font-size: 22px;
		line-height: 1.5;
		position: relative;
		padding-bottom: 5px;

		&::before {
			content: "";
			position: absolute;
			bottom: 0;
			left: 0;
			width: 0;
			height: 2px;
			background-color: #ffffff;
			transition: all .3s linear;

		}

		&:hover::before {
			width: 100%;
		}
	}
}

@media (max-width: 420px) {
	.alternative-resources {
		&__link {
			font-size: 18px;
		}
	}
}