.channels {
	padding-bottom: 100px;

	/* 	&__title {
		margin-bottom: 20px;
	} */

	&__text {
		color: $default-color;

		span {
			font-weight: 700;
			color: $default-color;
		}
	}

	&__item {
		padding-left: 16px;
		margin-bottom: 20px;

		&:last-child {
			margin-bottom: 0;
		}
	}

}

@media (max-width: 525px) {
	.channels {
		padding-bottom: 40px;
	}
}