.footer {
	&__inner {
		display: flex;
		justify-content: center;
		padding: 20px 0;
		flex-direction: column;
	}

	&__text {
		margin-bottom: 20px;
		line-height: 34px;
		color: $default-color;
	}

	&__contacts {
		&-text {
			max-width: 207px;
			width: 100%;
		}

		&-phone,
		&-email {
			display: flex;
			color: #ffffff;
		}

		&-link {
			padding-left: 10px;
		}

		&-phone {
			margin-bottom: 10px;
		}
	}
}

@media (max-width: 556px) {
	.footer {
		&__contacts {

			&-phone,
			&-email {
				display: block;
			}

			&-link {
				padding-left: 0;
			}
		}
	}
}