.header {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 101;

	&__inner {
		display: flex;
		justify-content: center;
		padding: 20px 0;
		flex-direction: column;
		align-items: center;
		position: relative;
	}
}