.language {
	margin-left: auto;

	&__list {
		display: flex;
		justify-content: flex-end;
	}

	&__item+.language__item {
		margin-left: 14px;
	}

	&__item {
		position: relative;

		&::before {
			content: "";
			width: 2px;
			height: 18px;
			position: absolute;
			right: -8px;
			top: 8px;
			background-color: $default-color;
		}

		&:last-child {
			&::before {
				display: none;
			}
		}
	}

	&__link {
		text-transform: uppercase;

	}
}

@media (max-width: 525px) {
	.language {
		margin-left: 0;

		&__list {
			padding-top: 30px;
		}
	}
}

@media (max-width: 420px) {
	.language {
		&__item {
			&::before {
				height: 15px;
				top: 7px;
			}
		}
	}
}