.promo {
	position: relative;
	padding-top: 144px;
	height: 100vh;
	display: flex;
	align-items: center;

	&__inner {
		display: flex;
	}

	&__images {
		display: flex;
		max-width: 478px;
		width: 100%;
		justify-content: space-between;
		margin-right: 40px;
	}

	&__img {
		display: block;
		max-width: 224px;
		width: 100%;
		border-radius: 26px;
		box-shadow: 10px 10px 10px 0px rgba(34, 60, 80, 0.2);
	}

	&__content {
		max-width: 623px;
		width: 100%;
		padding-top: 25px;
	}

	&__title {
		@extend %dmsans-700;
		font-size: 36px;
		line-height: 52px;
		margin-bottom: 36px;
	}

	&__subtitle {
		@extend %dmsans-400;
		font-size: 22px;
		line-height: 34px;
		margin-bottom: 30px;
	}

	&__links {
		display: flex;
	}

	&__link {
		display: block;
		text-align: center;
		max-width: 200px;
		width: 100%;
		border: 1px solid #29282d;
		padding: 10px;
		color: #29282d;
		position: relative;

		&:first-child {
			margin-right: 20px;
		}

		&::before {
			content: '';
			position: absolute;
			left: 12px;
			background-repeat: no-repeat;
		}
	}

	.apple {
		color: #ffffff;
		background-color: #29282d;

		&::before {
			background-image: url("../../images/icon/apple-store.svg");
			width: 20px;
			height: 27px;
			top: 11px;
		}
	}

	.google {
		border-color: $default-color;
		color: $default-color;

		&::before {
			background-image: url("../../images/icon/google-play.svg");
			width: 20px;
			height: 20px;
			top: 17px;
		}
	}
}

@media (max-width: 1024px) {
	.promo {
		&__images {
			max-width: 447px;
		}

		&__img {
			max-width: 209px;
		}

		&__title {
			font-size: 28px;
			line-height: 42px;
			margin-bottom: 22px;
		}
	}
}


@media (max-width: 960px) {
	.promo {
		&__inner {
			flex-direction: column;

		}

		&__content {
			order: -1;
			margin-bottom: 60px;
			max-width: 100%;
		}
	}
}

@media (max-width: 750px) {
	.promo {
		height: 100%;
		padding-bottom: 100px;
	}
}

@media (max-width: 525px) {
	.promo {
		padding-top: 190px;
		padding-bottom: 40px;
	}
}

@media (max-width: 480px) {
	.promo {
		&__images {
			flex-direction: column;
		}

		&__img {
			margin-bottom: 40px;
			max-width: 240px;
		}

		&__content {
			margin-bottom: 40px;
		}

		&__links {
			flex-direction: column;
		}

		&__link {
			margin-bottom: 20px;
			max-width: 100%;

			&:first-child {
				margin-right: 0;
			}
		}
	}
}

@media (max-width: 420px) {
	.promo {
		padding-top: 158px;

		&__subtitle {
			font-size: 18px;
		}
	}
}

