.setup-mobile {
	&__players {
		max-width: 690px;
		width: 100%;


		&-item {
			&:not(:last-child) {
				margin-right: 20px;
			}
		}
	}

	&__items {
		display: flex;
		justify-content: space-between;
	}

	&__player {
		position: relative;
		max-width: 270px;
		width: 100%;

		&-title {
			margin-bottom: 30px;
		}
	}

	&__play {
		display: block;
		width: 100%;
		height: 100%;
		position: relative;

	}

	&__img {
		display: block;
		object-fit: cover;
		max-width: 100%;
		height: 520px;
	}
}


@media (max-width: 670px) {
	.setup-mobile {
		&__items {
			flex-direction: column;
		}

		&__players {
			flex-direction: column;

			&-item {
				&:not(:last-child) {
					margin-bottom: 60px;
				}

			}
		}

		&__img {
			height: 536px;
		}
	}
}

@media (max-width: 380px) {
	.setup-mobile {
		&__player {
			width: 258px;
			height: 550px;
		}

	}
}