.setup-tv {
	&__items {
		display: flex;
		justify-content: space-between;
		gap: 30px;
	}

	&__player {
		width: 33.33%;

		&-title {
			min-height: 68px;
			margin-bottom: 40px;
		}

		&-link {
			display: block;
			width: 100%;

			img {
				width: 100%;
			}
		}
	}

	&__list {
		display: flex;

		&-item:not(:last-child) {
			margin-right: 30px;
		}

		&-item {
			margin-bottom: 30px;
		}
	}

	&__player-link {
		display: block;
		width: 100%;
		position: relative;

		&::before {
			content: "";
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			background-image: url("../images/icon/play.png");
			background-repeat: no-repeat;
			width: 74px;
			height: 74px;
		}
	}

	&__img {
		max-width: 320px;
		margin-bottom: 40px;
	}
}

@media (max-width: 1070px) {
	.setup-tv {
		&__items {
			flex-wrap: wrap;
			justify-content: center;
			gap: 40px;
		}

		&__player {
			width: 45%;
		}

		&__player:not(:last-child) {
			margin-bottom: 40px;
		}
	}
}

@media (max-width: 850px) {
	.setup-tv {
		&__items {
			flex-direction: column;
		}

		&__player {
			width: 100%;
			margin-bottom: 0 !important;
		}

		&__list-item {
			margin-right: 20px !important;
		}
	}
}