.title-box {
	&__subtitle {
		font-size: 22px;
		line-height: 34px;
		margin-bottom: 30px;
	}

	&__title {
		font-size: 42px;
		line-height: 56px;
		margin-bottom: 76px;
		color: #ff0000;
		text-shadow: -1px -1px 0 #243f4d, -2px -2px 1px #243f4d;
	}
}

@media (max-width: 980px) {
	.title-box__title {
		font-size: 32px;
		line-height: 42px;
		margin-bottom: 52px;
	}
}

@media (max-width: 620px) {
	.title-box__title {
		font-size: 28px;
		line-height: 38px;
		margin-bottom: 46px;
	}
}

@media (max-width: 525px) {
	.title-box__title {
		font-size: 24px;
		line-height: 34px;
	}
}

@media (max-width: 420px) {
	.title-box__subtitle {
		font-size: 20px;
		line-height: 32px;
	}

	.title-box__title {
		.title-box__title {
			font-size: 22px;
			line-height: 32px;
		}
	}
}